<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>

        <script>
            function send_cli(){
                console.log("")
            }
        </script>
    </head>
    <body>
        <p>This is an example of a simple HTML page with one paragraph. v1.5</p><br><br>
        <form>
            <input id="cli" type="text" name = "command line" placeholder="Input commands here. Enter to send command.">
        </form>
        <br><br>
        <form>
            <input id="file_upload" type="file">
        </form>
    </body>
</html>