<!DOCTYPE html>
<html>
    <head>
        <title>Toy Robot V1.6</title>

        
    </head>
    <body>

        <p id="response"></p><br><br>

        <input id="cli" type="text" name = "command line" placeholder="Input commands here. Enter to send command.">
        <button id="myBtn" onclick="send_cli()">Send</button>
        <script>
            function send_cli(){
                let commands = document.querySelector("#cli").value;
                console.log("https://cli-dot-toy-robot-308706.ue.r.appspot.com/api/cli/"+commands);
                fetch("https://cli-dot-toy-robot-308706.ue.r.appspot.com/api/cli/" + encodeURIComponent(commands), mode="no-cors")
                .then(response=>response.json())
                .then(data => {
                    document.querySelector("#response").innerHTML=data.message;
                });
            }

            var input = document.getElementById("cli");
            input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
            }
            });
        </script>
        
        <br><br>
        <form>
            <input id="file_upload" type="file">
        </form>
    </body>
</html>