<!DOCTYPE html>
<html>
    <head>
        <title>Toy Robot V1.7</title>

        
    </head>
    <body>
        <p id="response">response</p><br><br>

        <input id="cli" type="text" name = "command line" placeholder="Input commands here. Enter to send command.">
        <button id="myBtn" onclick="send_cli()">Send</button>
        <script>
            function send_cli(){
                let commands = document.querySelector("#cli").value;
                let session_id = "{{ session_id }}";
                console.log("https://cli-dot-toy-robot-308706.ue.r.appspot.com/api/cli/" + session_id + "%20" + encodeURIComponent(commands));
                fetch("https://cli-dot-toy-robot-308706.ue.r.appspot.com/api/cli/" + session_id + "%20" + encodeURIComponent(commands), {method:"GET", mode:"no-cors"})
                .then(response => {
                    return response.text().then(text => {
                    console.log(text);                    
                    document.getElementById("response").innerHTML=text;
                    });
                });
            }

            var input = document.getElementById("cli");
            input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
            }
            });
        </script>
        
        <br><br>
        <form>
            <input id="file_upload" type="file">
        </form>
    </body>
</html>